@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    position: fixed;
    width: 100%;
    margin-left:0px;  /*dsad*/
    padding: 10px 10px;
    background: #7386D5;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 220px;
    font-size: 0.95em;
    position: fixed;
    margin-top: 50px;
    left: 0;
    height: 100vh;
    padding-bottom: 0px;
    overflow-y: scroll; 
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
   
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 12px 10px;
    background:#7386D5;  
}
.navs-shadow{
    -webkit-box-shadow: 0px 14px 26px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 14px 26px -19px rgba(0,0,0,0.75);
box-shadow: 0px 14px 26px -19px rgba(0,0,0,0.75);

}

#sidebar ul.components {
    padding: 20px ;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.dropdown-notification{
    border: 1px solid blue;
}

#sidebar-icons{
    list-style: none;
    padding-left: 0px !important;
    justify-content:center;

}
#sidebar-icons li{
    float: left;
}
#sidebar-icons li a{
    padding: 10px !important;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
    padding-bottom: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#main {
    width: calc(100%);
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
    top: 0;
    right: 0;
}

#content {
    width: calc(100% - 200px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    margin-top: 40px;
    right: 0;
}

#content.active {
    width: 100%;
}

.breadcrumb{
    background-color: #f3ecec !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -270px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #sidebar-bg.active{z-index:1;position:absolute;width: 100%;height: 100vh;background-color:black;opacity: 0.3;}
    #sidebarCollapse span {
        display: none;
    }

    #main {
    width: 100% !important;
    }
}